/* STYLE
*Author:
*/

*{
	margin:0px;
	padding:0px;
}
.menubar{
	
	text-align:center;
	background-color:grey;
	color:white;
}
.men{
	
	text-align:center;
	background-color:grey;
	color:white;
}

.men ul li
{
	text-align:center;
	color:white;
}
.menubar ul li a{
   color:white;
    text-decoration:none;
}     
.menubar ul{
        display:inline-flex;
		list-style:none;
		color:white;
}
.menubar ul li{
    width:120px;
	padding:15px;
	margin:15px;
	
}
.menubar ul li:hover{
	background-color:orange;
	border-radius:10px;
}
.submenu{
	display:none;
	z-index:1;
}
.menubar ul li:hover .submenu{
	display:block;
	position:absolute;
	background-color:black;
	margin-top:15px;
	margin-left:-15px;
	border-radius:10px;
}
.menubar ul li:hover .submenu ul
{
   display:block;
   margin:10px;
}
.menubar ul li:hover .submenu ul li
{
	width:100px;
	padding:10px;
	border-bottom:1px solid red;
}
.btd{
border:1px solid black;
width:200px;
height:350px;
padding:50px;
background-color:rgba(0,0,0,.4);
}
.btf{
	margin-left:50px;
	width:100px;
}
.bt
{
width:150px;
height:50px;
background-color:rgba(0,0,0,0.6);
color:white;
}
.imge img{
	border:1px solid black;
	width:1050px;
	height:450px;

	margin-bottom:150px;
	float:right;
}
.ft{
	background-color:black;
	color:white;
	width:100%;
	padding:50px;color:white;
	text-align:center;}
.bi{
		background-image:url(../img/2.jpg);
		background-repeat:no-repeat;
		background-size:cover;
	}

	
.temp
{
	width:513px;
	text-align:center;
    margin-top:10%;
	position:relative;
	left:400px;
	margin:10px;
	padding:40px;
	background-color:rgba(0,0,0,0.5);
	border-radius:10px;
	color:white;
}
.view
{
	width:450px;
	text-align:center;
    margin-top:30px;
	position:relative;
	left:400px;
	margin:10px;
	padding:40px;
	background-color:rgba(0,0,0,0.5);
	border-radius:10px;
	color:white;
	margin-top:8%;
	margin-left:4%;
}

.frm
{
	width:200px;
	margin:15px;
	padding:10px;
	background-color:rgba(0,0,0,0.3);
	color:white;
	outline:none;
	border:1px solid #5b80a4;
    transition:0.5s;
}
.frm:focus
{
	box-shadow:0px 0px 20px 6px #5b80a4;
}
.cont textarea
{
	height:100px;
}
.frm-btn
{
	/*float:right;*/
	padding:15px 50px;
	background-color:rgba(0,0,0,0.3);
	color:white;
	outline:none;
	border-radius:30px;
}
.log
{
	text-align:center;
	position:relative;
	width:450px;
	height:450px;
	left:400px;
	padding:40px;
	background-color:rgba(0,0,0,0.5);
}
.lgn

{
	width:300px;
	margin:15px;
	padding:20px;
	background-color:rgba(0,0,0,0.8);
	color:white;
	outline:none;
	border:1px solid #5b80a4;
	transition:0.5s;
}
.lgn:focus
{
	box-shadow:0px 0px 20px 6px #5b80a4;
}
.lgn-btn
{
	width:120px;
	padding:15px;
	margin:15px;
}
.lg{
	padding:30px;
	background:url('2.jpg');
	height:700px;
}
.lg-f{
	margin-top:100px;
}
.lg-btn{
	width:50px;
}
.t{
background:url('2.jpg');
margin-top:5%;

background-repeat:no-repeat;
background-size:cover;
}
.d{
background:url('2.jpg');

background-repeat:no-repeat;
background-size:cover;

}	
.row{
	display:flex;
	margin-left:50px;
	margin-right:50px;
	text-align:justify;
}
.row1{
	display:flex;
	margin-left:50px;
	margin-right:50px;
	text-align:justify;
	float:center;
	margin-left:35%;
	margin-top:5%;
}
.row1 h1{
	text-align:center;
	color:white;
	text-decoration:underline;
	margin:20px;
}
.row1 padding{
	color:white;
}
.col{
	color:white;	
	padding:50px;
	margin:20px;
	background-color:rgba(229,37,177,.3);
	box-sizing:border-box;
	height:350px;
	width:450px;
}
.col a {
	    color:black;
        text-decoration:none;
		}
.row h1{
	text-align:center;
	color:white;
	text-decoration:underline;
	margin:20px;
}
.row padding{
	color:white;
}
.but {
    color: red;
    width: 10%;
    margin-left: 7%;
}